The datetime Module
datetime.datetime, datetime.date, datetime.timedelta

In [1]:
import datetime
datetime.date(2015, 7, 14)

datetime.date(2015, 7, 14)

In [2]:
import datetime
print(datetime.date(2020,1,1))

2020-01-01

In [3]:
import datetime
d = datetime.date(2019, 1, 1)
print(d.year)
print(d.month)
print(d.day)

2019
1
1

In [4]:
import datetime
d = datetime.date.today()
print(d)

2024-07-19

In [6]:
print(datetime.datetime(2024,12,12,12,12,12))

2024-12-12 12:12:12

In [7]:
print(datetime.datetime.now())
print(datetime.datetime.today())

2024-07-19 12:08:21.398386
2024-07-19 12:08:21.401024

In [9]:
import datetime
datetime.datetime.today().strftime('%d-%m-%Y')

'19-07-2024'

In [11]:
today = datetime.datetime.today()
today.strftime("%Y-%m-%d")

'2024-07-19'

In [12]:
today.strftime("%d/%m/%Y")

'19/07/2024'

In [13]:
today.strftime("%Y-%m-%d-%H-%M-%S")

'2024-07-19-12-10-42'

In [14]:
import datetime
now = datetime.datetime.now()
then = datetime.datetime(2014, 2, 26)
delta = now - then

type(delta)

datetime.timedelta

In [15]:
delta.days

3796

In [16]:
delta.seconds

44379

In [17]:
import datetime
now = datetime.datetime.now()
then = datetime.datetime(2019, 1, 1)
delta = now - then

sec = delta.total_seconds()
hours = sec//3600

min = sec//60

In [20]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/22/a5/a0b255295406ed54269814bc93723cfd1a0da63fb9aaf99e1364f07923e5/pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata
  Using cached pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Obtaining dependency information for numpy>=1.26.0 from https://files.pythonhosted.org/packages/ad/9c/4a93b8e395b755c53628573d75d7b21985d9a0f416e978d637084ccc8ec3/numpy-2.0.0-cp312-cp312-win_amd64.whl.metadata
  Using cached numpy-2.0.0-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\amit.ranjan\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/9c/3d/a121f284241f08268b21359bd425f7d4825cffc5ac5cd0e1b3d82ffd2b10/pytz-2024.1-py2.py3-none-any.whl.metadata
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Obtaining dependency information for tzdata>=2022.7 from https://files.pythonhosted.org/packages/65/58/f9c9e6be752e9fcb8b6a0ee9fb87e6e7a1f6bcab2cdc73f02bb7ba91ada0/tzdata-2024.1-py2.py3-none-any.whl.metadata
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\amit.ranjan\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
Using cached numpy-2.0.0-cp312-cp312-win_amd64.whl (16.2 MB)
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.0.0 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

[notice] A new release of pip is available: 23.2.1 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
import pandas as pd

first_date = pd.to_datetime('2020-01-01')
sec_date = pd.to_datetime('2020-01-02')

diff = first_date - sec_date
print(diff)

-1 days +00:00:00

In [23]:
print(type(diff))
print("\n")
print(diff)

<class 'pandas._libs.tslibs.timedeltas.Timedelta'>


-1 days +00:00:00

In [28]:
import pandas as pd
mydate = pd.to_datetime('2021-01-01 14:25:32')

print(f"This is the date: {mydate}")
print(f"Year for the date: {mydate.year}")
print(f"Month of the date: {mydate.month}")
print(f"Week of the date: {mydate.week}")
print(f"Day of the date: {mydate.day}")
print(f"Weekname of the date: {mydate.day_name()}")
print(f"Hour of the date: {mydate.hour}")
print(f"Minute of the date: {mydate.minute}")
print(f"Secound of the date: {mydate.second}")

This is the date: 2021-01-01 14:25:32
Year for the date: 2021
Month of the date: 1
Week of the date: 53
Day of the date: 1
Weekname of the date: Friday
Hour of the date: 14
Minute of the date: 25
Secound of the date: 32

In [31]:
import pandas as pd
mydate = pd.to_datetime("2021-12-21 04:55:59")

print(f"Date of the day: {mydate.date()}")
print(f"Week of the day: {mydate.weekday()}")
print(f"Month name of the day: {mydate.month_name()}")

Date of the day: 2021-12-21
Week of the day: 1
Month name of the day: December

In [35]:
# creating a dataframe named staffdata

staff_data = pd.DataFrame({'Name':['Ram', 'Shyam', 'Hari', 'Sita', 'Gita'],
                           'Age':[20, 21, 19, 18, 22],
                           'DOJ':['2012-01-03', '2013-05-11', '2014-06-20', '2015-09-22', '2011-11-25'],
                           'Salary':[10000, 20000, 30000, 40000, 50000]})

staff_data

    Name  Age         DOJ  Salary
0    Ram   20  2012-01-03   10000
1  Shyam   21  2013-05-11   20000
2   Hari   19  2014-06-20   30000
3   Sita   18  2015-09-22   40000
4   Gita   22  2011-11-25   50000

In [36]:
staff_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   DOJ     5 non-null      object
 3   Salary  5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes

In [37]:
# changing the data type of the column DOJ

staff_data['DOJ'] = pd.to_datetime(staff_data['DOJ'])

In [38]:
staff_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   DOJ     5 non-null      datetime64[ns]
 3   Salary  5 non-null      int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 292.0+ bytes

In [39]:
staff_data['Start_Month'] = staff_data['DOJ'].dt.month_name()
staff_data.head()

    Name  Age        DOJ  Salary Start_Month
0    Ram   20 2012-01-03   10000     January
1  Shyam   21 2013-05-11   20000         May
2   Hari   19 2014-06-20   30000        June
3   Sita   18 2015-09-22   40000   September
4   Gita   22 2011-11-25   50000    November